<% const getPercentage = (value, total) => Math.round(value / total * 100) || 0; %> 

<% const getColor = (percentage, isRequired) => percentage > 99 && "bg-green-600" %> 

<% const getBadge = (percentage, isRequired) =>  { %> 
    <% const color = getColor(percentage, isRequired) %> 
    <% const formattedPercentage = !isNaN(percentage) ? `${percentage} %` : '' %> 
    <span class="flex px-2 py-0.5 text-xs items-center <%= color %>">
        <%= formattedPercentage %>
    </span>
<% } %>

<% const getGroupHeader = (label, count) => { %> 
    <tr>
        <th colspan="2" class="px-2 align-text-top text-xs bg-stone-300">
            <%= label %>
        </th>
        <th  class="px-2 align-text-top text-right text-xs bg-stone-300">
            <%= (count || 0).toLocaleString('nl-BE') %>
        </th>
        <th  class="px-2 align-text-top text-xs bg-stone-300">
        </th>
    </tr>
<% } %>

<% const getRow = (id, value, total, isRequired) => { %> 
    <% const formattedValue = value || 0 %>
    <% const formattedTotal = total || 0 %>
    <% const label = id.split(' - ').pop() %>
    <% const percent = getPercentage(formattedValue, formattedTotal) %>
    <tr class="odd:bg-stone-100 bg-white">
        <td class="w-48 px-2 align-text-top"><%= label %></td>
        <td class="w-14 px-2 align-text-top"><%- isRequired ? 'Verplicht' : 'Optioneel' %></td>
        <td class="w-14 px-2 align-text-top text-right"><%= formattedValue?.toLocaleString('nl-BE') %></td>
        <td class="w-10 align-text-top text-right">
            <%= getBadge(percent, isRequired) %>
        </td>
    </tr>
<% } %>

<% const getBasicRow = (id, value) => { %> 
    <% const formattedValue = value || 0 %>
    <% const label = id.split(' - ').pop() %>
    <tr class="odd:bg-stone-100 bg-white">
        <td colspan="2" class="w-48 px-2 align-text-top"><%= label %></td>
        <td class="w-14 px-2 align-text-top text-right"><%= formattedValue?.toLocaleString('nl-BE') %></td>
        <td class="w-10 align-text-top text-right"></td>
    </tr>
<% } %>

<section class="flex gap-4 print:block">
    <section class="page mb-10">
        <h2 class="text-xl text-center border-2 border-black">
            Maturiteitsniveau 1
        </h2>
        <table class="table-auto border-separate text-left text-xs w-full">
            <thead class="bg-stone-500 text-stone-50">
                <tr>
                    <th class="w-48 px-2">Attribuut</th>
                    <th class="w-10 px-2">Verplicht&nbsp;/&nbsp;Optioneel</th>
                    <th class="w-14 px-2">Count</th>
                    <th class="px-2">Indicator</th>
                </tr>
            </thead>
            <tbody>
                <%= getGroupHeader("Agendapunt", data.agendaItem_count) %>
                <%= getRow("Agendapunt - aangebrachtNa", data.agendaItem_addedAfter_count, data.agendaItem_count, false) %>
                <%= getRow("Agendapunt - beschrijving", data.agendaItem_description_count, data.agendaItem_count, false) %>
                <%= getRow("Agendapunt - geplandOpenbaar", data.agendaItem_plannedPublic_count, data.agendaItem_count, true) %>
                <%= getRow("Agendapunt - titel", data.agendaItem_title_count, data.agendaItem_count, true) %>

                <%= getGroupHeader("BehandelingVanAgendapunt", data.agendaItemHandeling_count) %>
                <%= getRow("BehandelingVanAgendapunt - gebeurtNa", data.agendaItemHandeling_takesPlaceAfter_count, data.agendaItemHandeling_count, false) %>
                <%= getRow("BehandelingVanAgendapunt - geeftAanleidingTot", data.agendaItemHandeling_givesRiseTo_count, data.agendaItemHandeling_count, false) %>
                <%= getRow("BehandelingVanAgendapunt - heeftAanwezige", data.agendaItemHandeling_hasPresents_count, data.agendaItemHandeling_count, true) %>
                <%= getRow("BehandelingVanAgendapunt - heeftOnderwerp", data.agendaItemHandeling_hasSubject_count, data.agendaItemHandeling_count, true) %>
                <%= getRow("BehandelingVanAgendapunt - heeftSecretaris", data.agendaItemHandeling_hasSecretary_count, data.agendaItemHandeling_count, false) %>
                <%= getRow("BehandelingVanAgendapunt - heeftStemming", data.agendaItemHandeling_hasVotes_count, data.agendaItemHandeling_count, false) %>
                <%= getRow("BehandelingVanAgendapunt - heeftVoorzitter", data.agendaItemHandeling_hasChairman_count, data.agendaItemHandeling_count, false) %>
                <%= getRow("BehandelingVanAgendapunt - openbaar", data.agendaItemHandeling_public_count, data.agendaItemHandeling_count, true) %>

                <%= getGroupHeader("Besluit", data.resolution_count) %>
                <%= getRow("Besluit - beschrijving", data.resolution_description_count, data.resolution_count) %>

                <%= getGroupHeader("Stemming", data.vote_count) %>
                <%= getRow("Stemming - aantalOnthouders", data.vote_numberOfAbstentions_count, data.vote_count, true) %>
                <%= getRow("Stemming - aantalTegenstanders", data.vote_numberOfOpponents_count, data.vote_count, true) %>
                <%= getRow("Stemming - aantalVoorstanders", data.vote_numberOfProponents_count, data.vote_count, true) %>
                <%= getRow("Stemming - geheim", data.vote_secret_count, data.vote_count, true) %>
                <%= getRow("Stemming - heeftaanwezige", data.vote_hasPresents_count, data.vote_count, true) %>
                <%= getRow("Stemming - heeftOnthouder", data.vote_hasAbstainer_count, data.vote_count, false) %>
                <%= getRow("Stemming - heeftStemmer", data.vote_hasVoter_count, data.vote_count, true) %>
                <%= getRow("Stemming - heeftTegenstander", data.vote_hasOpponent_count, data.vote_count, false) %>
                <%= getRow("Stemming - heeftVoorstander", data.vote_hasProponent_count, data.vote_count, false) %>
                <%= getRow("Stemming - onderwerp", data.vote_subject_count, data.vote_count, true) %>

                <%= getGroupHeader("Zitting", data.session_count) %>
                <%= getRow("Zitting - behandelt", data.session_covers_count, data.session_count, true) %>
                <%= getRow("Zitting - eind", data.session_endedAt_count, data.session_count, true) %>
                <%= getRow("Zitting - geplandeStart", data.session_plannedStart_count, data.session_count, true) %>
                <%= getRow("Zitting - heeftNotulen", data.session_hasMinutes_count, data.session_count, false) %>
                <%= getRow("Zitting - isGehoudenDoor", data.session_heldBy_count, data.session_count, true) %>
                <%= getRow("Zitting - locatie", data.locatie, data.session_count, false) %>
                <%= getRow("Zitting - start", data.session_startedAt_count, data.session_count, true) %>
            </tbody>
        </table>
    </section>

    <section class="page mb-10">
        <h2 class="text-xl text-center border-2 border-black">
            Maturiteitsniveau 2
        </h2>
        <table class="table-auto border-separate text-left text-xs w-full">
            <thead class="bg-stone-500 text-stone-50">
                <tr>
                    <th colspan="2" class="w-56 px-2">Attribuut</th>
                    <th class="w-14 px-2">Count</th>
                    <th class="px-2">Indicator</th>
                </tr>
            </thead>
            <tbody>
                <%= getGroupHeader("Mandataris", data.mandatary_count) %>
                <%= getBasicRow("Re-use aanwezigen", data.re_use_attendees_percentage+ ' %') %>
                <%= getBasicRow("Number of found aanwezigen", data.re_use_attendees_count) %>
                <%= getBasicRow("Number of aanwezigen not linked", data.re_use_attendees_not_linked_count) %>
                <%= getBasicRow("Re-use stemmers", data.re_use_voters_percentage+ ' %') %>
                <%= getBasicRow("Number of found stemmers", data.re_use_voters_count) %>
                <%= getBasicRow("Number of stemmers not linked", data.re_use_voters_not_linked_count) %>
                <%= getBasicRow("Re-use voorzitters", data.re_use_chairmen_percentage+ ' %') %>
                <%= getBasicRow("Number of found voorzitters", data.re_use_chairmen_count) %>
                <%= getBasicRow("Number of voorzitters not linked", data.re_use_chairmen_not_linked_count) %>
                <%= getBasicRow("Re-use secretarissen", data.re_use_secretaries_percentage+ ' %') %>
                <%= getBasicRow("Number of found secretarissen", data.re_use_secretaries_count) %>
                <%= getBasicRow("Number of secretarissen not linked", data.re_use_secretaries_not_linked_count) %>
            </tbody>
        </table>
    </section>

    <section class="page mb-10">
        <h2 class="text-xl text-center border-2 border-black">
            Maturiteitsniveau 3
        </h2>
        <table class="table-auto border-separate text-left text-xs w-full">
            <thead class="bg-stone-500 text-stone-50">
                <tr>
                    <th class="w-48 px-2">Attribuut</th>
                    <th class="w-10 px-2">Verplicht&nbsp;/&nbsp;Optioneel</th>
                    <th class="w-14 px-2">Count</th>
                    <th class="px-2">Indicator</th>
                </tr>
            </thead>
            <tbody>
                <%= getGroupHeader("Artikel", data.article_count) %>
                <%= getRow("Artikel - nummer", data.article_number_count, data.article_count, true) %>

                <%= getGroupHeader("Zitting", data.session_count) %>
                <%= getRow("Zitting - heeftAanwezigeBijStart", data.session_attendeesAtStart_count, data.session_count, true) %>
                <%= getRow("Zitting - heeftVoorzitter", data.session_hasChairman_count, data.session_count, true) %>
                <%= getRow("Zitting - heeftSecretaris", data.session_hasSecretary_count, data.session_count, true) %>
                
                <%= getGroupHeader("Stemming", data.vote_count) %>
                <%= getRow("Stemming - gevolg", data.vote_consequence_count, data.vote_count, true) %>
                
                <%= getGroupHeader("Besluit", data.resolution_count) %>
                <%= getRow("Besluit - citeeropschrift", data.resolution_quoteInscription_count, data.resolution_count) %>
                <%= getRow("Besluit - motivering", data.resolution_motivation_count, data.resolution_count, true) %>
            </tbody>
        </table>
    </section>

    <section class="page mb-10">
        <h2 class="text-xl text-center border-2 border-black">
            Bonusniveau
        </h2>
        <table class="table-auto border-separate text-left text-xs w-full">
            <thead class="bg-stone-500 text-stone-50">
                <tr>
                    <th class="w-48 px-2">Attribuut</th>
                    <th class="w-10 px-2">Verplicht&nbsp;/&nbsp;Optioneel</th>
                    <th class="w-14 px-2">Count</th>
                    <th class="px-2">Indicator</th>
                </tr>
            </thead>
            <tbody>
                <%= getGroupHeader("Document", data.document_count) %>
                
                <%= getGroupHeader("Bestuursorgaan", data.governingBody_count) %>
                <%= getRow("Bestuursorgaan - bestuurt", data.governingBody_runs_count, data.governingBody_count, true) %>
                <%= getRow("Bestuursorgaan - classificatie", data.governingBody_classification_count, data.governingBody_count, true) %>
                <%= getRow("Bestuursorgaan - naam", data.governingBody_name_count, data.governingBody_count, true) %>
                
                <%= getGroupHeader("Bestuurseenheid", data.administrativeUnit_count) %>
                <%= getRow("Bestuurseenheid - naam", data.administrativeUnit_name_count, data.administrativeUnit_count, true) %>
                
                <%= getGroupHeader("Artikel", data.article_count) %>
                <%= getRow("Artikel - inhoud", data.article_content_count, data.article_count, true) %>
                <%= getRow("Artikel - taal", data.article_lang_count, data.article_count, true) %>
                
                <%= getGroupHeader("Besluit", data.resolution_count) %>
                <%= getRow("Besluit - volgtUit", data.resolution_followsFrom_count, data.resolution_count, true) %>
                <%= getRow("Besluit - publicatiedatum", data.resolution_dateOfPublication_count, data.resolution_count) %>
                <%= getRow("Besluit - inhoud", data.resolution_content_count, data.resolution_count, true) %>
                <%= getRow("Besluit - taal", data.resolution_lang_count, data.resolution_count, true) %>
                <%= getRow("Besluit - titel", data.resolution_title_count, data.resolution_count, true) %>
            </tbody>
        </table>
    </section>
</section>
