<% const getPercentage = (value, total) => Math.round(value / total * 100) || 0; %> 

<% const getColor = (percentage, required) => required && percentage > 89 ? "bg-green-600" : required ? "bg-red-600" : !required && percentage > 49 ? "bg-green-600" : "bg-yellow-400" %> 

<% const getRow = (level, label, required, value, total) => { %> 
    <% const percent = getPercentage(value, total) %>
    <tr class="odd:bg-white even:bg-stone-100">
        <td class="my-1"><%= level %></td>
        <td class="my-1"><%= label %></td>
        <td class="my-1"><%= required ? "Verplicht" : "Optioneel" %></td>
        <td class="<%= getColor(percent, required) %> my-1">
            <%= percent > 0 ? `${percent} %` : '' %>
        </td>
        <td class="my-1"><%= value %>/<%= total %></td>
    </tr>
<% } %>

<% data.forEach((governingBodyData) => { %>
<section class="page">
    <table class="table-auto border-collapse text-left">
    <caption class="caption-top">
        <%= governingBodyData.governingBody %>
    </caption>
    <thead>
        <tr>
        <th class="pr-2">Maturiteitsniveau</th>
        <th class="pr-2">Attribuut</th>
        <th class="pr-2">Verplicht?</th>
        <th class="pr-2">Indicator</th>
        <th>Number</th>
        </tr>
    </thead>
    <tbody>
        <%= getRow("Niveau 1", "Agendapunt - beschrijving", false, governingBodyData.agendaItem_description_count, governingBodyData.agendaItem_count) %>
        <%= getRow("Niveau 1", "Agendapunt - titel", true, governingBodyData.agendaItem_title_count, governingBodyData.agendaItem_count) %>
        <%= getRow("Niveau 1", "BehandelingVanAgendapunt - heeftOnderwerp", true, governingBodyData.agendaItemHandeling_hasSubject_count,
        governingBodyData.agendaItemHandeling_count) %>
        <%= getRow("Niveau 1", "BehandelingVanAgendapunt - heeftStemming", false, governingBodyData.agendaItemHandeling_hasVotes_count, governingBodyData.agendaItemHandeling_count) %> 
        <%= getRow("Niveau 1", "Besluit - beschrijving", false, governingBodyData.resolution_description_count, governingBodyData.resolution_count) %>
        <%= getRow("Bonus niveau", "Besluit - publicatiedatum", false, governingBodyData.resolution_dateOfPublication_count, governingBodyData.resolution_count) %>
        <%= getRow("Bonus niveau", "Bestuurseenheid - naam", true, governingBodyData.administration_name_count, governingBodyData.administration_count) %>
        <%= getRow("Bonus niveau", "Bestuursorgaan - naam", true, governingBodyData.administrationBody_name_count, governingBodyData.administrationBody_count) %>
        <%= getRow("Bonus niveau", "LegaleVerschijningsvorm - inhoud", true, governingBodyData.legalForm_content_count, governingBodyData.legalForm_count) %>
        <%= getRow("Bonus niveau", "LegaleVerschijningsvorm - titel", true, governingBodyData.legalForm_title_count, governingBodyData.legalForm_count) %>
        <%= getRow("Niveau 1", "Stemming - heeftaanwezige", true, governingBodyData.vote_hasVoter_count, governingBodyData.vote_count) %>
        <%= getRow("Niveau 1", "Stemming - heeftOnthouder", false, governingBodyData.vote_hasAbstainer_count, governingBodyData.vote_count) %>
        <%= getRow("Niveau 1", "Stemming - heeftTegenstander", false, governingBodyData.vote_hasNegativeVote_count, governingBodyData.vote_count) %>
        <%= getRow("Niveau 1", "Stemming - heeftVoorstander", false, governingBodyData.vote_hasPositiveVote_count, governingBodyData.vote_count) %>
        <%= getRow("Niveau 1", "Zitting - geplandeStart", true, governingBodyData.meeting_plannedStart_count, governingBodyData.meeting_count) %>
        <%= getRow("Niveau 3", "Zitting - heeftAanwezigeBijStart", true, governingBodyData.meeting_hasPresentAtStart_count, governingBodyData.meeting_count) %>
        <%= getRow("Niveau 1", "Zitting - eind", true, governingBodyData.meeting_end_count, governingBodyData.meeting_count) %>
    </tbody>
    </table>
</section>
<% }) %>
