
<!-- Maturiteitsniveau Attribuut Verplicht? Indicator
Niveau 1 Agendapunt - beschrijving Optioneel %
Niveau 1 Agendapunt - titel Verplicht %
Niveau 1 BehandelingVanAgendapunt - heeftOnderwerp Verplicht %
Niveau 1 BehandelingVanAgendapunt - heeftStemming Optioneel %
Niveau 1 Besluit - beschrijving Optioneel %
Bonus niveau Besluit - publicatiedatum Optioneel %
Bonus niveau Bestuurseenheid - naam Verplicht %
Bonus niveau Bestuursorgaan - naam Verplicht %
Bonus niveau LegaleVerschijningsvorm - inhoud Verplicht %
Bonus niveau LegaleVerschijningsvorm - titel Verplicht %
Niveau 1 Stemming - heeftaanwezige Verplicht %
Niveau 1 Stemming - heeftOnthouder Optioneel %
Niveau 1 Stemming - heeftTegenstander Optioneel %
Niveau 1 Stemming - heeftVoorstander Optioneel %
Niveau 1 Zitting - geplandeStart Verplicht %
Niveau 3 Zitting - heeftAanwezigeBijStart Verplicht %
Niveau 1 Zitting - eind Verplicht %
Gemeenteraad -->

<% const getIndicator = (value, total) => value / total * 100; %>

<table class="table-auto">
    <caption class="caption-top">
        Gemeenteraad
    </caption>
    <thead>
        <tr>
            <th>Maturiteitsniveau</th>
            <th>Attribuut</th>
            <th>Verplicht?</th>
            <th>Indicator</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Niveau 1</td>
            <td>Agendapunt - beschrijving</td>
            <td>Optioneel</td>
            <td><%= getIndicator(data.agendaItem_title_count, data.agendaItem_count) %> %</td>
        </tr>
        <tr>
            <td>Niveau 1</td>
            <td>Agendapunt - titel</td>
            <td>Verplicht</td>
            <td><%= getIndicator(data.agendaItem_title_count, data.agendaItem_count) %> %</td>
        </tr>
        <tr>
            <td>Niveau 1</td>
            <td>BehandelingVanAgendapunt - heeftOnderwerp</td>
            <td>Verplicht</td>
            <td><%= getIndicator(data.agendaItemHandeling_hasSubject_count, data.agendaItemHandeling_count) %> %</td>
        </tr>
        <tr>
            <td>Niveau 1</td>
            <td>BehandelingVanAgendapunt - heeftStemming</td>
            <td>Optioneel</td>
            <td><%= getIndicator(data.agendaItemHandeling_hasVotes_count, data.agendaItemHandeling_count) %> %</td>
        </tr>
        <tr>
            <td>Niveau 1</td>
            <td>Besluit - beschrijving</td>
            <td>Optioneel</td>
            <td><%= getIndicator(data.resolution_description_count, data.resolution_count) %> %</td>
        </tr>
        <tr>
            <td>Bonus niveau</td>
            <td>Besluit - publicatiedatum</td>
            <td>Optioneel</td>
            <td><%= getIndicator(data.resolution_dateOfPublication_count, data.resolution_count) %> %</td>
        </tr>
</table>